.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.demo-logo-vertical {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  white-space: nowrap;
  line-height: 32px;
  text-align: center;
  color: aliceblue;
  font-weight: 800;
}

.ant-layout-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ant-badge {
  margin-right: 20px;
}

.app-theme-light .ant-layout-sider {
  color: rgba(0, 0, 0, 0.88);
  background: #ffffff;
}

.app-theme-light .ant-layout-sider .demo-logo-vertical {
  color: rgba(0, 0, 0, 0.88);
  background: #ccc;
}

.app-theme-light .ant-layout-sider .ant-layout-sider-trigger {
  color: rgba(0, 0, 0, 0.88);
  background: #ccc;
}
